[Unit]
Description=Python subservices manager
Documentation=

[Service]
ExecStart=/bin/sh -c '/usr/bin/pythonms > /var/log/pythonms.log 2>&1'
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target
